@import "tailwindcss";

@layer base {
  * {
    border-color: inherit;
  }
  body {
    margin: 0;
    font-family: system-ui, -apple-system, sans-serif;
    background-color: white;
    color: black;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
